# Secrets:
# RELEASE_TOKEN = write permission token

name: build-windows

on:
  workflow_dispatch:
  push: { branches: [ main ] }

jobs:
  build:
    runs-on: windows-latest
    defaults: { run: { shell: 'bash --noprofile --norc -euo pipefail {0}' } }

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: ./windows.sh

      - name: Release result
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: |
          result='dropbear-windows.zip'
          ! gh release view result &>/dev/null &&
          gh release create result "${result}" -n 'download here' ||
          gh release upload result "${result}" --clobber
